.top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    gap: 1rem;
}
.top>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
    gap:0.5rem;
    background-color: aliceblue;
    width: 500px;
    border-radius: 8px;
    box-shadow: 0 3px 5px gray;
}
.row{
    display: flex;
    gap: 0.5rem;
    align-items: center;
    flex-direction: row;
    
}
.row>img{
    width: 3rem;
    height: 3rem;
    box-shadow: 50%;
}
.row>input{
    width: 400px;
    height: 2rem;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: transparent;
    padding: 5px;
}
.icon{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.icon>.option{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
