.postcontainer{
    display: flex;
    align-items: center;
    flex-direction:column;
    
    gap:2rem;
    padding: 5px;
}
.postcontainer>div{
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  box-shadow: 0 3px 5px ;
  gap: 0.5rem;
}
.content>img{
    width: 500px;
    height: 300px;
    border-radius: 5px;
}
.content>span{
    padding: 5px;
}
